@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(255, 153, 0);
  --bg-hover: #f3f3f3;
}

body {
  background-color: aliceblue;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 column grid */
  gap: 16px; /* Gap between grid items */
}

.grid-item {
  grid-column: span 12; /* Full width by default */
  background-color: #fff; /* White background */
}

@media (min-width: 640px) {
  .grid-item {
    grid-column: span 6;
  }
}

@media (min-width: 768px) {
  .grid-item {
    grid-column: span 6;
  }
}

@media (min-width: 1024px) {
  .grid-item {
    grid-column: span 4;
  }
}

@media (min-width: 1280px) {
  .grid-item {
    grid-column: span 3;
  }
}
